include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include companyatlas/templates *
recursive-include companyatlas/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

